/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(#F9FAFB, #D2D6DB);
  
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.blog-post {
  width: 340px;
  height: auto;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.blog-post img {
  max-width: 100%;
  height: 288px;
}

.blog-body {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
  flex: 3;
}

/* Title Block */
.blog-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blog-category {
  padding: 2px 8px;
  border-radius: 999px;
  border-color: #bbf7d0;
  border-width: 1px;
  font-size: 14px;
  background-color: #f0fdf4;
  width: 67px;
  text-align: center;
}

.blog-category span {
  color: #15803d;
}

.blog-title h1 {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  text-overflow: ellipsis;
}

/* Content Block */
.blog-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-content p {
  font-size: 16px;
  color: #525252;
}

.blog-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 6px;
  background: none;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0px;
  
  cursor: pointer;
  outline: none;
  width: 114px;
  color: #4338ca;
}

.blog-button:hover
.blog-button:focus {
  pointer-events: none;
  color: #3730a3;
}

.blog-button:focus {
  box-shadow:
    0px 0px 0px 1px #444ce7,
    0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

.blog-button:disabled {
  pointer-events: none;
  color: #a3a3a3;
}

.blog-button-text {
  flex: 1;
  display: inline-flex;
  padding: 0px 2px;
}